extends layouts/base.jade

//- Override page spesific variables as needed
block variables
  $body_classes = 'is-front-page'

block content
  block hero
    // Module: Hero
    .hero
      .l-constrained
        .hero--wrap
          h2.hero--title= the_field('title_header')
          .hero--body-wrap
            ul.hero--tags
              li.hero--tag-item= the_field('tag1_header')
              li.hero--tag-item= the_field('tag2_header')
              li.hero--tag-item= the_field('tag3_header')
            p.hero--description= the_field('description_header')

        .hero--chevron
          // Module: Chevron
          .chevron
            a(id="scroll-chevron")
              img(src!="<?php bloginfo('template_url'); ?>/build/img/arrow.svg").chevron--image

  .l-constrained
    // Module: Selected Productions
    .selected-productions#produksjoner
      .selected-productions--flex-wrap
        h2.selected-productions--title Utvalgte konsepter
        a(href=get_permalink('19')).selected-productions--more-link Se flere konsepter

      .l-grid

        $args = array( 'post_type' => 'production', 'posts_per_page' => 4,  'orderby' => 'date', 'order' => 'ASC' );
        $loop = new WP_Query( $args );
        if $loop->have_posts(): while $loop->have_posts()
          - $loop->the_post()

          .l-grid--item
            a(href=get_permalink(get_the_ID()), title=the_title())
              // Module: Show
              .show(style="background-image: url(<?php the_field('image_archive') ?>);")
                .show--overlay
                .show--text
                  h5.show--broadcaster= the_field('broadcaster')
                  h3.show--title= the_title()
